
# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Virtual environments
env/
venv/

# End of https://www.gitignore.io/api/python
