# ----------- #
# .gitmodules #
# ----------- #

[submodule "music"]
	path = music
	url = https://github.com/patevs/music

# EOF #
[submodule "examples"]
	path = examples
	url = https://github.com/patevs/example-scripts
