# ----------- #
# .gitmodules #
# ----------- #

[submodule "covid"]
	path = covid
	url = https://github.com/patevs/covid

# EOF #
[submodule "music"]
	path = music
	url = https://github.com/patevs/music
